@keyframes neon {
  from {
    box-shadow: inset 0 0 4px rgba(0, 0, 0, 0), inset 0 0 7px rgba(0, 0, 0, 0),
      inset 0 0 8px #2ecc71;
    border: 1px solid rgba(0, 0, 0, 0);
  }
  to {
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0), inset 0 0 16px rgba(0, 0, 0, 0),
      inset 0 0 4px #2ecc71, 0 0 12px rgba(0, 0, 0, 0), inset 0 0 15px #2ecc71;
    border: 1px solid #2ecc71;
  }
}

$pondWidth: 700px;
$pondHeight: 400px;
$indicatorXY: 50px;

#circle {
  position: absolute;
  width: $indicatorXY;
  height: $indicatorXY;
  top: 50%;
  left: 50%;
  margin: -50px 0 0 -50px;
  background: #fff;
  border-radius: 80%;
  backface-visibility: hidden;
  visibility: hidden;
  z-index: 1;
}
#pond {
  background: red;
  border-radius: 50%;
  position: absolute;
  top: 100px;
  left: 100px;
  width: $pondWidth;
  height: $pondHeight;
}

#pond-wrapper {
  border-radius: 50%;
  position: absolute;
  top: 100px;
  left: 100px;
  width: $pondWidth;
  height: $pondHeight;
  z-index: 2;
}