.indicator {
  position: absolute;
  width: $hookWidth;
  height: $hookHeight;
  top: 50%;
  left: 50%;
  margin: (-$hookHeight) 0 0 (-$hookWidth);
  backface-visibility: hidden;
  z-index: 5;
  pointer-events: none;
  animation: floating 0.7s ease-in-out infinite alternate;
  visibility: hidden;
  font-size: 1rem;
  font-weight: bold;
  color: white;

  .indicator__text {
    display: block;
    margin: 0 auto;
    margin-bottom: 5px;
    margin-top: -20px;
  }

  .indicator__arrow {
    display: block;
    margin: 0 auto;
  }

  .indicator__target {
    display: block;
    margin: 0 auto;
  }
}
