$hookWidth: 100px;
$hookHeight: 50px;

@mixin hide {
  opacity: 0;
  transform: scale(0);
  visibility: hidden;
}

@font-face {
  font-family: "LuckiestGuy";
  src: url("../assets/fonts/LuckiestGuy-Regular.ttf");
}

$gameWidth: 1300px;
$gameHeight: $gameWidth / 1.6;
// ratio is 1.6 x 1

.fishing-game {
  display: flex;
  justify-content: center;
  user-select: none;
  width: 100%;
  overflow: hidden;

  @import "./indicator";
  @import "./bait";

  .game-content {
    position: relative;
    display: flex;
    justify-content: center;
    background-size: cover;
    overflow: hidden;

    @media only screen and (min-device-width: 640px) {
      height: $gameHeight;
    }

    .fishing-rod {
      position: absolute;
      z-index: 5;
      pointer-events: none;
      margin: 0;
      bottom: 0;
      bottom: -120px;
      max-width: 300px;
      transform-origin: 100% 100%;
    }

    .game-content__title-container {
      position: absolute;
      width: 100%;
      height: 100%;

      .title-1 {
        position: relative;
        margin-left: 10px;
        margin-top: 10px;
        display: block;
        visibility: hidden;
        max-width: 100px;

        @media only screen and (max-device-width: 640px) {
          max-width: 50px;
        }
      }

      .title-2 {
        position: relative;
        display: block;
        margin: 0 auto;
        max-width: 500px;

        @media only screen and (max-device-width: 640px) {
          max-width: 300px;
        }
      }
    }

    @import "./winEffect";

    .game-content__bg {
      height: 100%;
      width: 100%;
      display: block;
    }

    .pond {
      position: absolute;
      height: 230px;
      border-radius: 50%;
      bottom: 20%;
      cursor: none;
      width: 70%;
      z-index: 10;

      @media only screen and (max-device-width: 640px) {
        width: 90%;
        height: 180px;
      }
    }

    .pond-mask {
      position: absolute;
      height: 230px;
      background-color: rgba(0, 0, 0, 0);
      border-radius: 50%;
      bottom: 20%;
      transition: animation 1s;
      animation: neon 1.5s ease-in-out infinite alternate;
      width: 70%;

      @media only screen and (max-device-width: 640px) {
        width: 90%;
        height: 180px;
      }
    }
  }
}
